* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body {
 background: linear-gradient(to left, #0a2344 0%, black 100%);
 height: 100vh;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px !important;
  padding: 10px 0;
}
.search {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.search-input-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-input-wrap input {
  width: 100%;
  max-width: 600px;
  padding: 10px 10px;
  border: 1px solid #ddd;
  color: black!important;
  font-size: 20px;
  border-radius: 5px;
  font-size: 1rem;
  background: none;
  border-radius: 8px;
  /* border: 0.5px solid rgba(255, 255, 255, 0.2); */
}
.search-input-wrap button {
  padding: 10px 10px;
  border: none;
  font-size: 20px;
  background: rgb(66, 66, 66);
  border-radius: 8px;
  border: 0.5px solid rgba(68, 137, 226, 0.2);
  cursor: pointer;
}
.weather-body {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
  padding: 20px 0;
  background: rgba(197, 195, 195, 0.397);
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  /* display: none; */
  /* border: 1px solid red; */
}
.weather-info {
  font-size: 30px;
  padding: 5px 18px;
 
}
.weather-info h3{
padding: 10px 0;
font-size: 55px;
font-weight: bold;
font-family: 'Inter', sans-serif;
}
.weather-data {
  padding: 10px 10px;
  margin-top: 30px;
  display: flex;
  font-size: 21px;
  justify-content: space-around;
}
.active{
  display: block;
}
.image{
  z-index: -1;
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 0) and (max-width: 600px) {
.search-input-wrap input, button {
  font-size: 16px!important;

}
.weather-info h3{
font-size: 35px;
}
.weather-body {
  margin: 18px 10px;
}
}